.product2 {
  width: 100%;
  height: 500px;
}
.product2 .center {
  width: 1438px;
  height: inherit;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
.product2 .center .right {
  width: 30%;
  height: 450px;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
.product2 .center .left {
  width: 65%;
  height: 450px;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
